{% extends 'main.html' %}

{% block profile %}
<h3>Пользователь: <b>{{ request.user }}</b></h3>
<div class="medium-2 columns">
    {% if request.user.avatar %}
        <img src="{{ request.user.avatar.url }}" width="100px" height="80px"><br>
    {% else %}
        <img src="/static/img/noavatar.jpg" width="100px" height="80px"><br>
    {% endif %}
    {{ request.user }}
    <form action="{% url 'users:profile' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Изменить данные</button>
    </form>
</div>
<h3>Публикации пользователя</h3>
<div class="row" id="content">
    <div class="medium-8 columns">
        <div class="blog-post">
        {% for article in request.user.article_set.all %}
            {% csrf_token %}
            <b><a href="{% url 'article:article' article_id=article.id %}">{{ article.article_title }}</a></b><br>
            {{ article.article_text | truncatechars:90 }}<br>
            <font color="#778899">{{ article.article_date }}</font><br>
            <hr>
        {% endfor %}
    </div>
</div>
<div class="medium-3 columns">
     <form action="/articles/article_add/0" method="get">
         <button type="submit">Добавить статью</button>
     </form>
</div>
{% endblock %}



