{% extends 'main.html' %}
{% block article %}
<div class="medium-8 columns">
    <p><h2>{{ article.article_title }}</h2></p>
    <p>{{ article.article_text }}</p>
    <font color="#808080">Автор статьи: {{ article.article_author }}</font>
    <p><font color="#808080">{{ article.article_date }}</font></p>
    {% if article.article_author == request.user %}
        <form action="{% url 'article:article_edit' article_id=article.id %}" method="get">
        <button type="submit">Редактировать статью</button>
        </form>
        <form action="{% url 'article:delete' article_id=article.id %}" method="get">
        <button type="submit">Удалить</button>
        </form>
    {% endif %}
    <hr>
<h3><b>Комментарии:</b></h3>
</div>
<div class="row" id="content">
    <div class="medium-10 columns">
    {% for comment in comments %}
        <img src="/media/{{ comment.avatar }}" width="50px">
        <br><b><font color="#1e90ff">{{ comment.comments_author }}</font> :  </b>{{ comment.comments_text }}<br>
        <small>{{ comment.comments_date }}</small>
        <hr>
    {% endfor %}
    {% if article.article_author != request.user %}
        <form action="{% url 'article:addcomment' article_id=article.id %}" method="post">
        {% if request.user.is_authenticated %}
        {% csrf_token %}
        {{ form }}
        <button type="submit">Добавить комментарий</button>
        </form>
        {% endif %}
    {% endif %}
    </div>
</div>
{% endblock %}